:root {
  --plyr-color-main: hsl(182, 67%, 50%);
}

.light {
  --primary: hsl(182, 67%, 76%);
  --secondary: hsl(357, 91%, 46%);
  --info: hsl(182, 67%, 50%);
  --success: hsl(48, 100%, 50%);
  --text-primary: black;
  --text-seconday: #869ab8;
  --text-opposite: white;
  --backgrond: hsl(182, 67%, 97%);
  --shadow: hsla(0, 0%, 0%, 0.1);
}

.dark {
  --secondary: hsl(357, 91%, 46%);
  --primary: hsl(182, 67%, 76%);
  --info: hsl(182, 67%, 76%);
  --success: hsl(48, 100%, 50%);
  --text-primary: white;
  --text-seconday: #869ab8;
  --text-opposite: hsl(0, 0%, 0%);
  --backgrond: hsl(182, 67%, 7%);
  --shadow: hsla(0, 0%, 100%, 0.25);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--info);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 0%, 0);
}

/* * {
  transition: all 0.2s;
} */

body {
  font-family: "Almarai";
  background-color: var(--backgrond);
  color: var(--text-primary);
}

.button {
  border: none;
  transition: all 0.2s;
  border-radius: 7px;
  font-weight: 600;
  font-family: "Alexandria";
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px 0px var(--shadow);
}

.button-primary {
  background-color: var(--primary);
}

.button-success {
  background-color: var(--success);
}

.button-primary:hover {
  background-color: hsl(182, 67%, 70%);
}

.scroll-margin {
  scroll-margin-top: 150px;
}

/* Navbar */

#nav {
  position: sticky !important;
  top: 0;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px var(--shadow);
  border-radius: 0px 0px 50px 50px;
  background-color: var(--text-opposite);
  font-weight: 700;
  color: var(--info);
  font-family: "Alexandria";
}

#nav button {
  border: unset;
  padding: unset;
  width: 35px;
  height: 35px;
}

#nav button:focus {
  box-shadow: unset;
}

.dark #nav button svg {
  fill: var(--text-primary);
}

#nav ul {
  width: 100%;
  justify-content: center;
  column-gap: 50px;
}

#nav a {
  text-decoration: unset;
  color: unset;
  transition: color 0.2s;
}

#nav a:hover {
  color: hsl(182, 67%, 40%);
}

#nav .donate {
  color: var(--success) !important;
}

#nav .donate a:hover {
  color: hsl(48, 100%, 45%) !important;
}

#nav .logo {
  width: 100px;
}

#nav .dark {
  width: 30px;
  cursor: pointer;
}

.light #nav .df1 {
  opacity: 0%;
}

.dark #nav .df2 {
  opacity: 0%;
}

/* Header */

#header h1 {
  font-family: "Alexandria";
  font-size: 75px;
  color: var(--info);
  font-weight: 900;
}

#header p {
  font-size: 25px;
  line-height: 45px;
}

#header button {
  padding: 15px 50px;
}

/* About */

#about .row {
  margin-left: unset;
  margin-right: unset;
}

#about .col-md {
  transition: all 0.2s;
  box-shadow: 0px 0px 20px 0px var(--shadow);
  border-radius: 30px;
  background-color: var(--text-opposite);
}

#about .col-md:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 30px 0px var(--shadow);
}

#about h2 {
  font-family: "Alexandria";
  font-size: 50px;
  color: var(--info);
  font-weight: 600;
}

#about p {
  font-size: 20px;
}

/* find-us */

#find-us h2 {
  font-family: "Alexandria";
  font-size: 50px;
  font-weight: 600;
  color: var(--info);
  margin-bottom: unset;
}

#find-us .find-us {
  transition: all 0.2s;
  box-shadow: 0px 0px 20px 0px var(--shadow);
  border-radius: 30px;
  background-color: var(--text-opposite);
}

#find-us .find-us:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 30px 0px var(--shadow);
}

#find-us .col-lg {
  position: relative;
}

#find-us .col-lg img {
  transition: all 0.2s;
}

#find-us h6 {
  position: absolute;
  font-weight: 600;
  transition: all 0.2s;
  margin-bottom: 0;
  opacity: 0%;

  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

#find-us .col-lg:hover img {
  transform: translateY(-15px);
}

#find-us .col-lg:hover h6 {
  transform: translateY(15px);
  opacity: 100%;
}

#find-us .facebook h6 {
  color: hsl(217, 100%, 52%);
}
#find-us .youtube h6 {
  color: hsl(0, 100%, 50%);
}
#find-us .linkedin h6 {
  color: hsl(213, 63%, 43%);
}
#find-us .instagram h6 {
  color: hsl(16, 81%, 57%);
}
#find-us .whatsapp h6 {
  color: hsl(142, 70%, 49%);
}

/* Stories */

#stories h2 {
  font-family: "Alexandria";
  font-size: 30px;
  color: var(--info);
  font-weight: 600;
}

#stories .information p {
  font-size: 20px;
  font-weight: 500;
}

#stories .stories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

#stories .story {
  transition: all 0.2s;
  box-shadow: 0px 0px 20px 0px var(--shadow);
  border-radius: 15px;
  padding: unset;
  overflow: hidden;
  background-color: var(--text-opposite);
}

#stories .story:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 30px 0px var(--shadow);
}

#stories h5 {
  font-family: "Alexandria";
  font-weight: 400;
}

#stories p {
  font-weight: 100;
}

/* Donate */

#donate h2 {
  color: var(--success);
  font-family: "Alexandria";
  font-size: 30px;
  font-weight: 600;
}

#donate p {
  font-size: 20px;
}

#donate button {
  padding: 15px 50px;
}

#donate button:hover {
  background-color: hsl(48, 100%, 45%);
}

/* Modal */

#modal .modal-content {
  background-color: var(--text-opposite);
  box-shadow: 0px 0px 20px 0px var(--shadow);
}

#modal .modal-body {
  display: grid;
  grid-template-columns: 40px 3fr 2fr;
  grid-template-rows: repeat(4, 50px);
  text-align: center;
  padding: unset;
}

#modal h1 {
  color: var(--secondary);
  font-family: "Alexandria";
  font-size: 35px;
  font-weight: 600;
}
#modal svg {
  place-self: center;
}

#modal p {
  margin-bottom: unset;
  align-content: center;
  font-size: 18px;
  font-weight: 600;
}

#modal .num {
  letter-spacing: 1px;
  font-weight: 500;
}

#modal button {
  width: 150px;
  height: 50px;
  align-self: center;
  background-color: hsl(357, 70%, 50%);
  color: white;
}

#modal button:hover {
  background-color: var(--secondary);
}

#modal a {
  color: unset;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

/* Footer */

#footer .container-fluid {
  box-shadow: 0px 0px 20px 0px var(--shadow);
  border-radius: 50px 50px 0px 0px;
  background-color: var(--text-opposite);
}

#footer h5 {
  font-family: "Alexandria";
  font-weight: 600;
  font-size: 30px;
  color: var(--info);
}

#footer p {
  font-weight: 500;
}

#footer .contact {
  display: grid;
  grid-template-columns: 25px 1fr;
}

#footer .contact svg {
  fill: var(--text-primary);
}

#footer .information {
  margin-right: 10px;
  font-weight: 600;
}

#footer .social svg {
  fill: var(--text-primary);
  width: 100%;
  height: 100%;
}

#footer .social .col {
  max-width: 50px;
  max-height: 50px;
}

#footer a {
  color: unset;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

/* Rsponsive Design */

@media (max-width: 1199px) {
  /* Find Us */

  #find-us h2 {
    font-size: 40px;
  }

  /* Stories */

  #stories .information p {
    font-size: 17px;
  }

  #stories .stories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  /* Header */

  #header h1 {
    font-size: 50px;
  }

  #header p {
    font-size: 20px;
    line-height: 35px;
  }

  /* About */

  #about h2 {
    font-size: 35px;
  }

  #about p {
    font-size: 18px;
  }

  /* Find Us */

  #find-us h6 {
    opacity: unset;
    position: unset;
    margin-top: 1rem;
  }

  #find-us a {
    text-decoration: unset;
  }

  #find-us .col-lg:hover img {
    transform: unset;
  }

  #find-us .col-lg:hover h6 {
    transform: unset;
  }
}

@media (max-width: 767px) {
  /* Navbar */
  #nav li {
    margin-top: 15px;
  }

  #nav button {
    border: unset;
    padding: unset;
    width: 30px;
    height: 30px;
  }

  #nav .dark {
    width: 25px;
  }

  #nav .logo {
    width: 75px;
  }

  /* Stories */

  #stories h2 {
    font-size: 22px;
  }

  #stories .stories {
    grid-template-columns: 1fr;
  }

  /* Donate */

  #donate h2 {
    font-size: 22px;
  }

  #donate p {
    font-size: 17px;
  }

  /* Footer */

  #footer .logo {
    width: 50%;
  }
}

@media (max-width: 575px) {
  /* Modal */
  #modal p {
    font-size: 15px;
  }

  #modal a {
    text-decoration-thickness: 1px;
  }

  /* Footer */

  #footer .logo {
    width: 75%;
  }
}
